.rotate{
    margin-block-start: 50px;
    border: 1px solid black;
}

.description__block{
    border-left: 4px solid #d62828;
    font-size: 20px;
    padding-inline: 10px;
    margin-inline-start: 10px;
}

.flex__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-block-end: 20px;
}
.rotate__box{
    transform: scale(var(--scale));
}

.bg__colorSied{
    background-color: hsl(344, 100%, 95%, .3);
    border: 2px solid #d62828;
}



