.rotate{
    margin-block-start: 50px;
    border: 1px solid black;
}

.flex__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-block-end: 20px;
}
.rotate__cube{
    transform: translate(var(--translateX), var(--translateY)) ;
}

.bg__colorSied{
    background-color: hsl(344, 100%, 95%, .3);
    border: 2px solid #d62828;
}


.cube__box{
    width: 300px;
    height: 300px;
    margin-inline: auto;
    border: 1px solid black;
    margin-block-end: 20px;
    display: grid;
    place-items: center;
    position: relative;
}

.rotate__box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transform: translate(var(--translateXpx), var(--translateYpx));
    display: grid;
    place-items: center;
}

.rotate__box div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d62828;
}

.border__box{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px dashed #e63946;
}