.tabs{
    padding-block: 100px;
    border-block: 1px solid white;
    border-bottom: none;
}

.tabs__title{
    font-size: 30px;
    color: white;
    width: max-content;
    border-bottom: 3px solid #ffc300;
    text-transform: uppercase;
    margin-block-end: 20px;
}

.tabs__box{
    display: flex;
    justify-content: center;
}

.inner__box{
    border: 1px solid white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50xp;
    justify-content: center;
    align-items: center;
}

.inner__content{
    margin-block-start: 40px;
    padding: 40px;
}

.nav{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    margin: 10px;
}


.button{
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 20;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    border: 1px solid whitesmoke;
    background-color: transparent;
}

.hover__box{
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #e63946;
}

.border__button{
    position: absolute;
    z-index: 10;
    bottom: -50px;
    left: 0;
    height: 2px;
    background-color: tomato;
}