.form{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-block-end: 10px;
    border: 1px solid white;
    border-radius: 10px;
}


.input__group{
    display: flex;
    gap: 10px;
}

.label{
    color: white;
    padding-inline-start: 10px;
    font-size: 20px;
}

.label__box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.input__number{
    background-color: transparent;
    border: none;
    color: #edede9;
    font-size: 20px;
}

.SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 250px;
    height: 50px;
  }
  
  .SliderTrack {
    width: 250px;
    height: 50px;
    background-color: #ffffff;
    position: relative;
  }


  .SliderThumb{
    position: relative;
    display: block;
    width: 25px;
    height: 60px;
    background-color: transparent;
    border: 4px solid #ffffff;
    outline: 2px solid black;
    cursor: grab;
  }