.blog__box{
	display: flex;
	flex-wrap: wrap;
    gap: clamp(20px, 5vw + 1rem, 130px);
}

.blog__content{
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}

.blog__wrapper{
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}

.blog__sidebar{
    margin-block-start: 50px;
	flex-basis: 270px;
	flex-grow: 1;
	border: 1px solid #14213d;
	background-color: #d7c9ac;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}

.tabs{
    padding-block: 100px;
    border-block: 1px solid white;
    border-bottom: none;
}

.tabs__title{
    font-size: 30px;
    color: white;
    width: max-content;
    border-bottom: 3px solid #ffc300;
    text-transform: uppercase;
    margin-block-end: 20px;
}

.tabs__box{
    display: flex;
    justify-content: center;
}

.inner__box{
    border: 1px solid white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 50xp;
    justify-content: center;
    align-items: center;
}

.inner__content{
	overflow: hidden;
}

.nav{
    display: flex;
    flex-shrink: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    margin: 10px;
}


.button{
    position: relative;
    display: flex;
    align-items: center;
    z-index: 20;
    cursor: pointer;
    padding: 10px 15px;
    color: white;
    border: 1px solid whitesmoke;
    background-color: transparent;
}



.hover__box{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #ffc300;
}

.border__button{
    position: absolute;
    z-index: 10;
    bottom: -10px;
    left: 0;
    height: 2px;
    background-color: tomato;
}