.flex__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.rotate__box{
    transform: rotate(var(--rotate));
}

.bg__colorSied{
    background-color: hsl(344, 100%, 95%, .3);
    border: 2px solid #d62828;
}


.button{
    padding-block: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
}
