.rotate{
    margin-block-start: 50px;
    border: 1px solid black;
}

.rotate__title{
    color: #ffff;
    text-transform: uppercase;
    padding: 20px;
    background-color: #000000;
    margin-block-end: 20px;
}

.description__block{
    border-left: 4px solid #d62828;
    font-size: 20px;
    padding-inline: 10px;
    margin-inline-start: 10px;
}

.flex__group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.rotate__box{
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY)) rotateZ(var(--rotateZ));
    transform-origin: center center;
    perspective:700px;
}

.bg__colorSied{
    background-color: hsl(344, 100%, 95%, .3);
    border: 2px solid #d62828;
}


.button{
    padding-block: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
}

.axies{
    margin-block-start: 40px;
    --width: 150px;
    --height:150px;
    --depth:150px;
    height: var(--height);
    width: var(--width);
    position: relative;
    transform: rotateX(19deg) rotateY(-30deg);
    transform-style: preserve-3d;
    transition: all 500ms ease;
}
.axies__side{
    transition: all 500ms ease;
    user-select: none;
    background-color: transparent;
}

.axies__side:nth-child(1){
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.axies__side:nth-child(2){
    position: absolute;
    --rotation: 90deg;
    height: var(--height);
    width: var(--depth);
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(var(--rotation))  translate3d(0, 0, calc(var(--width) * -0.5));
    border: 1px solid black;
}

.axies__side:nth-child(3){
    position: absolute;
    border: 1px solid black;
      --rotation: -90deg;
    height: var(--depth);
    width: var(--width);
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%) rotateX(var(--rotation)) translate3d(0, 0, calc(var(--height) * -0.5));
}

.axies__side:nth-child(3):hover{
    background-color: #d62828;
}
.axies__side:nth-child(2):hover{
    background-color: #d62828;
}
.axies__side:nth-child(1):hover{
    background-color: #d62828;
}