.perspective__contaner{
    width: 100%;
    margin-block-start: 50px;
    border: 1px solid black;
}

.exaple__box{
    margin-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 150px;
  width: 150px;
    perspective: var(--perspective);
    border: 1px solid black;
  }
  .transformed {
    background-color: hsl(355, 78%, 56%, .7);
    height: 150px;
  width: 150px;
    transform: rotateY(50deg);
  }

  .code__box{
    margin-block: 10px;
    background-color: #ffff;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .code{
    font-size: 20px;
  }